flexbox-container {
display: flex;
justify-content: center;
flex-direction: column;
}
.flexbox-item {
width: 200px;
margin: 100px;
border: 20px solid #333;
background-color:#800080;
}

.flexbox-item-1 {
min-height: 100px;
flex-shring: 1;
}

.flexbox-item-2 {
max-height: 200px;
flex-grow: 5;
}

.flexbox-item-3 {
max-height: 300px;
flex-grow: 5;
}
